name: Release

on:
  release:
    types:
        - prereleased
        # - published

jobs:
  flatpak:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            appstream-compose \
            flatpak \
            flatpak-builder \
            librsvg2-bin

      - name: Setup
        run: |
          flatpak --version
          flatpak remote-add --user \
            --if-not-exists flathub \
            https://flathub.org/repo/flathub.flatpakrepo

      - name: Build
        run: |
          flatpak-builder --user \
            --force-clean \
            --install-deps-from=flathub \
            --default-branch=stable \
            --repo=flatpak/repo builddir \
            flatpak/io.github.ruffsl.ctrlassist.yml

      - name: Bundle
        run: |
          flatpak build-bundle \
            flatpak/repo ctrlassist.flatpak \
            io.github.ruffsl.ctrlassist stable

      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          files: ctrlassist.flatpak
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
