name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cargo-deb \
            libudev-dev
      - name: Build
        run: cargo build --release --verbose
      - name: Package
        run: cargo deb --no-build --verbose
      - name: Publish
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/release/ctrlassist
            target/debian/*.deb
