name: Rust

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libudev-dev
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Build
        run: cargo build --release --verbose
      - name: Test
        run: cargo test --release --verbose
      - name: Clippy
        run: cargo clippy -- -D warnings
      - name: Format
        run: cargo fmt -- --check
      - name: Upload
        uses: actions/upload-artifact@v5
        if: github.ref == 'refs/heads/main'
        with:
          name: ctrlassist-linux-x86_64
          path: target/release/ctrlassist
